.env
.vscode/launch.json
__pycache__/
llm-project-summary.txt
scripts/copyDescription.sh
core/target
gliar/src/glia_core
gliar/renv
gliar/src/rust/
gliar/src/*.o
gliar/src/*.so
gliar/src/*.dll
gliar/src/symbols.rds
gliar/src/glia_core/
gliar/.Renviron
gliar/2
.gemini/
test/benchmarks/renv/
.env.r
.geminiignore
**/.venv/
**/.pytest_cache/
**/.ruff_cache/
**/target/
**/renv/