[settings]
experimental = true
lockfile     = true

[tools]
gum    = "0.17.0"
python = "3.12.0"
r      = "4.4.1"
ruff   = "0.14.8"
uv     = "0.9.17"
rust   = "1.93.0"

[env]
_.file        = ".env"
_.path        = ["./scripts"]
PYTHONPATH    = "{{config_root}}/scripts:$PYTHONPATH"
VERSION       = "0.1.0"
GLIA_DEV_MODE = true

[tasks.alembic]
description = "Internal helper for alembic commands"
run         = "uv run alembic -c backend/alembic.ini"

# TODO: add glia_core to this
[tasks.full-setup]
description = "Plug-and-play setup from scratch: dependencies then local database"
run = """
mise run setup:deps && \
mise run setup:backend
"""
