[settings]
experimental = true
lockfile     = true

[tools]
gum    = "0.17.0"
python = "3.12.0" # Also listed in pyproject.toml
r      = "4.4.1"
ruff   = "0.14.8"
uv     = "0.9.17"

[env]
_.path     = ["./scripts"]
PYTHONPATH = "{{config_root}}/scripts:$PYTHONPATH"

[tasks.setup-deps]
description = "Program deps"
run         = "setup_deps.sh"

[tasks.setup-local-db]
description = "Program deps"
run         = "setup_postgres.py"
raw         = true

[tasks.full-setup]
description = "Plug-and-play setup: dependencies then local database"
run         = "mise run setup-deps && mise run setup-local-db"
