[settings]
experimental = true
lockfile     = true

[tools]
gum    = "0.17.0"
python = "3.12"   # Also listed in pyproject.toml
r      = "4.4.1"
ruff   = "0.14.8"
uv     = "0.9.17"

[env]
_.path = ["./scripts"]

[tasks.setup]
description = "Other dependencies"
run         = "mise install && uv sync"
