[project]
name = "Glia"
version = "0.1.0"
requires-python="==3.12.0" # Also listed in  mise.toml and in the [tool.ruff] section of this TOML

dependencies = [
    "fastapi==0.128.0",
    "sqlmodel==0.0.31",
    "asyncpg==0.31.0",
    "pydantic-settings==2.12.0",
    "glia-common",
]
[tool.uv.workspace]
members = [
    "libs/python/glia_common",
]

[tool.uv.sources]
glia-common = { workspace = true, editable = true }
